body {
  background-color: #222;
  color: lightgray;
}
button {
    border-width: 2px;
		border-style: double;
		border-color: darkgray;
		border-image: initial;
		background-color: darkgray;
		color: black;
		padding-bottom: 1px;
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 1px;
		cursor: pointer;
    margin: 1em 1em 1em 0;
    width: 90px;
  }
  button[disabled] {
    color: rgb(94, 94, 94);
  }
  div#buttons {
    margin: 0 1em 1em 0;
  }
  div#send {
    margin: 0 20px 1em 0;
  }
  div#sendReceive {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0 0 10px 0;
  }
  div#sendReceive > div {
    display: inline-block;
    width: calc(50% - 20px);
  }
  form {
    margin: 0 0 1em 0;
    white-space: nowrap;
  }
  form span {
    font-weight: 300;
    margin: 0 1em 0 0;
    white-space: normal;
  }
  textarea {
    color: #444;
    font-size: 0.9em;
    font-weight: 300;
    height: 7.0em;
    padding: 5px;
    width: calc(100% - 10px);
  }
  .textarea-focused {
    background-color: rgb(248, 248, 248, 0.8)
  }